{% extends 'base.html' %} 
{% load static %}

{% block title %}
  <title>Se connecter</title>
{% endblock title %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock %}


{% block content %}

  <!-- section login -->
  <section class="authentication" id="login">
    <fieldset class="contain"><legend></legend>

      <!-- icon user (col left) -->
      <div class="icon-user">
        <sl-icon name="person-fill"></sl-icon>
      </div>

      <!-- form (col right) -->
      <form action="" method="POST" class="authentication-form" id="login-form">
      {% csrf_token %}

        <h1 class="title-authentication">Se connecter</h1> 

        <!-- Errors messages sl-alert -->
        {% if form.non_field_errors %}
          <sl-alert variant="danger" open class="alert-msg-danger">
            <sl-icon slot="icon" name="exclamation-octagon"></sl-icon>
            {% for error in form.non_field_errors %}
              <div>{{ error }}</div>
            {% endfor %}
          </sl-alert>
        {% endif %}

        <div class="form-group">
          <!-- Username field (email) -->
          <div class="form-field">
            <sl-input 
              name="username"
              type="email" 
              placeholder="Entrez votre Email" 
              size="medium"
              value="{{ form.username.value|default:'' }}"
              {% if form.username.errors %}class="invalid"{% endif %}>
              <sl-icon name="envelope-fill" slot="prefix"></sl-icon>
            </sl-input>
            {% if form.username.errors %}
              <div class="error-msg-field">
                {% for error in form.username.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <!-- password field --> 
          <div class="form-field"> 
            <sl-input 
              name="password"
              type="password" 
              placeholder="Entrez votre mot de passe" 
              password-toggle 
              size="medium"
              {% if form.password.errors %}class="invalid"{% endif %}>
              <sl-icon name="lock-fill" slot="prefix"></sl-icon>
            </sl-input>
            {% if form.password.errors %}
              <div class="error-msg-field">
                {% for error in form.password.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="form-field">
          <div class="remember-me">
            <sl-checkbox size="medium">Se souvenir de moi</sl-checkbox>
          </div>
        </div>

        <!-- submit button -->
        <div class="authentication-btn-submit">
          <sl-button type="submit" class="btn btn-primary" size="medium">
            Se connecter
          </sl-button>
        </div>

        <hr>

        <!--lien créer un compte -->
        <div class="infos-login">
            <p>Nouveau parmis nous, 
              <a href="{% url 'accounts:signup' %}">
                <strong class="link-account">créez un compte !</strong>
              </a>
            </p>
        </div>

      </form>
    </fieldset>
  </section>
  

{% endblock content %}