<footer>
  <!-- copyright + cuurent year -->
  <div style="margin-bottom: 0.5rem; color:black;">&copy; {% now "Y" %} Garantix tous droits réservés</div>
  <!-- links to another page -->
  <sl-button variant="text" href="#" target="_blank" class="footer-link">Mentions légales</sl-button>
  <sl-button variant="text" href="#" target="_blank" class="footer-link">Politique de confidentialité</sl-button>
  <sl-button variant="text" href="#" target="_blank" class="footer-link">Contact</sl-button>
</footer>
