<header class="">
  <!-- Logo / home -->
  <div class="logo-div">
    <a id="logo-nav" href="/">Garantix</a>
  </div>
  <nav style="">
    <!-- home -->
    <a href="{% url 'warranty:home' %}" title="Accueil">
      <sl-icon name="house-door-fill" label="accueil" class="icon-medium menu-icon" style="color:black;"></sl-icon>
      <span style="color:black;">Accueil</span>
    </a>
    {% if not request.user.is_authenticated %}
      <!-- login -->
      <a href="/admin/"  title="Se connecter">
        <sl-icon name="person-fill" label="connexion" class="icon-medium menu-icon" style="color:black;"></sl-icon>
        <span style="color:black;">Connexion</span>
      </a>
    {% else %}
      <!-- warranties -->
      <a href="{% url 'warranty:warranties_list' %}" title="Mes garanties">
        <sl-icon name="file-earmark-fill" label="garanties" class="icon-medium menu-icon" style="color:black;"></sl-icon>
        <span style="color:black;">Mes garanties</span>
      </a>
      <!-- logout -->
      <a href="" title="Se déconnecter">
        <sl-icon name="person-fill-slash" label="déconnexion" class="icon-medium menu-icon" style="color:black;"></sl-icon>
        <span style="color:black;">Déconnexion</span>
      </a>
      {% endif %}
  </nav>
</header>
