{% load static %} 
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap" rel="stylesheet">
  <!-- Shoelace -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css" />
  <!-- Style custom -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- title -->
  {% block title %}Garantix Site de management de garanties{% endblock %}
</head>

<body class="sl-theme-light">

  <!-- Header -->
  {% include "blocks/header.html" %}

  <!-- Main -->
  <main class="fr-container fr-py-5w">
    {% block content %}
    <!-- contenu spécifique à chaque page  -->
    {% endblock%}
  </main>

  <!-- Footer -->
  {% include "blocks/footer.html" %}

   <!-- JS Shoelace -->
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"></script>

</body>
</html>