<!-- Notification messages: success/error/info -->
{% if messages %}
    <div class="messages-container">
        {% for message in messages %}
        <sl-alert 
            open 
            closable 
            class="custom-black-alert alert-{{ message.tags }}"
            closable
            duration="4000">
            <!-- icon -->
            <sl-icon slot="icon" 
                name="{% if message.tags == 'success' %}check2-circle{% elif message.tags == 'error' %}exclamation-circle{% else %}info-circle{% endif %}"
                class="icon-{{ message.tags }}">
            </sl-icon>
            <!-- message -->
            <span class="message-text">{{ message }}</span>
        </sl-alert>
        {% endfor %}
    </div>
{% endif %}
