/* **************************************************
/* Login & Sign-up */


.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-card {
  max-width: 900px;
  width: 100%;
  --padding: 0;
  margin: 2rem auto;
  overflow: hidden;
  border-radius: 12px;
}

/* grille 50/50 */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 300px;
}

/* gauche (noir) */
.form-image-side {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form-image-side img {
  max-width: 150px;
}

/* droite (formulaire) */
.form-content-side {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}

.form-fields-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Checkbox + forgotten password */
.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

/* footer  */
.form-footer {
  margin-top: 2rem;
  text-align: center;
}

.form-footer hr {
  border: 0;
  border-top: 1px solid var(--secondary);
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
  .form-image-side {
    padding: 3rem;
  }
}
