.title-home, .subtitle-home {
    text-align: center;
    
}

/* ********************************** */
/* section banniere */

.bg-banniere {
    background-color: var(--black-middle);
    background-image: 
        radial-gradient(circle, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 70%),
        linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.7)), 
        url('/static/images/banniere2.png');
    background-size: cover, contain, contain; /* cover: halo noir */
    background-repeat: no-repeat, no-repeat, repeat-x; 
    background-position: center;
    width: 100%;
    padding: 2.2rem 0; 
    display: flex;
    justify-content: center;
    min-height: auto; 
    margin: 0 0 3rem 0;
}

.cta-buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.section-home-header {
    margin: 0 0 3rem 0;
}

/* ********************************** */
/* section features */

.card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 col égales */
    gap: 2rem;
    width: 100%;
    margin: 0 0 3rem 0;
}


.home-card {
    background-color: var(--white);
    height: 100%; 
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.4, 0.4, 0.2, 1);
    box-shadow: 
        0 0 10px rgba(0, 0, 0, 0.05),    
        0 4px 6px -1px rgba(0, 0, 0, 0.1), 
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: none;
}

.home-card::part(base) {
    border: none;
}

.home-card:hover {
    transform: translateY(-6px);
    box-shadow:
        0 0 15px rgba(0, 0, 0, 0.08),   
        0 20px 25px -5px rgba(0, 0, 0, 0.1), 
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.home-card::part(header) {
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
    background-color: var(--secondary);
}

.card-header {
    display: block;
    padding: var(--sl-spacing-medium); 
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.card-home-subtitle {
    display: block;
    color: var(--info);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-top: 0.5rem;
}

.custom-card-icon {
    margin-right: 0.5rem;
}

.info-row {
    gap: 0.75rem;
    font-size: 0.9rem;
    color: var(--sl-color-neutral-700);
}

@media (max-width: 1200px) {
    .card-group {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* *********************************** */
/* section mockup */

#mockup {
    background-color: var(--white);
    padding: 1rem 0;
}

#mockup-section-home {
    padding-bottom: 1rem;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 2rem; 
    max-width: 2000px; 
    margin: 0 auto; 
}

.grid-img {
    width: 100%;
    height: 220px; 
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
    border: 1px solid #eee; 
    transition: transform 0.3s ease;
    cursor: zoom-in;
} 

.grid-img:hover {
   transform: scale(1.08);
}

.zoom-img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* section cta */

#cta {
    background: var(--black-light);  
    margin: 0 auto ;   
    padding: 1rem 0 0 0;
    display: flex;                
    justify-content: center;      
    text-align: center;     
    color: var(--white);  
}

#btn-signup-cta {
    margin-top: 1.5rem;
}

/* *********************************** */
/* section testimonials */

.section-white {
    background-color: var(--white);
}

.testimonial-card {
    --border-radius: 12px; 
    border-radius: 12px;
    border: none;/*bordure par défaut Shoelace */
    background-color: var(--white);
    height: 100%; 
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 
        0 -4px 10px rgba(0, 0, 0, 0.02), /* haut */
        0 10px 20px rgba(0, 0, 0, 0.08),
        0 2px 6px rgba(0, 0, 0, 0.04); /* globale */
    color: var(--sl-color-neutral-700);
  font-size: 0.9rem;
}

.testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.testimonial-opinion {
    font-style: italic;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}

[slot="footer"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* *********************************** */
/* media queries */ 

@media only screen and (max-width: 500px) {
    
    #hero p {
        margin: 2rem 2rem;
        font-size: 1.2rem;
    }

    #features .custom-card {
        flex: 0 0 20rem; 
    }

    #mockup {
        padding: 0.5rem 0;
    }
    
    .image-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem 0;
    }
    
    .grid-img {
        width: calc(100vw - 2rem); 
        max-width: 100%; 
        height: 200px; 
        margin: 0 auto; 
    }  

    #cta article {
        margin: 0 2rem;
    }

    .card-group {
        grid-template-columns: 1fr;
    }
}