/* section hero */

#hero {               
    display: flex;                  
    justify-content: center;      
    background: var(--secondary-light);         
    text-align: center;  
    padding: 2rem 0;      
}

#hero p {
  margin-top: 2rem;
  font-size: 1.4rem;
}

/* section features */

#features .card-group {
    display: flex;     
    flex-wrap: wrap; 
    gap: 1.3rem;        
    justify-content: center; 
    padding: 1rem 0;
}

#features .custom-card {
  flex: 0 0 25rem;  /* largeur fixe: <flex-grow> <flex-shrink> <flex-basis> */
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: space-around; 
  box-sizing: border-box;   
}

#features .custom-card-icon {
    font-size: 40px;
    color: var(--primary);
}

/* section mockup */

#mockup {
    background-color: var(--white);
    padding: 1rem 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 1.3rem; 
    max-width: 2000px; 
    margin: 0 auto; 
}

.grid-img {
    width: 100%;
    height: 220px; 
    object-fit: cover;
    border-radius: 5px;
} 

/* section cta */

#cta {
    background: var(--black-light);  
    margin: 30px auto;  
    display: flex;                  
    justify-content: center;      
    text-align: center;     
    color: var(--white);  
}

#cta article {
    max-width: 600px; 
    padding: 1rem 0 2rem 0;
}

/* section testimonials */

#testimonials {
  margin: 2rem 0 1rem 0;
  text-align: center;
}

#testimonials .testimonials-card-group {
  display: flex;     
  flex-wrap: wrap; 
  gap: 1.3rem;        
  justify-content: center; 
  padding: 1rem 0;
}

#testimonials .testimonial-card {
  flex: 0 0 25rem;  
  min-height: 12rem; 
  display: flex;
  flex-direction: column;   
  justify-content: space-between; 
  box-sizing: border-box;  
  text-align: left; 
}

#testimonials .testimonial-card blockquote {
  font-style: italic;
  margin: 0;
  padding: 1rem;
}

#testimonials .testimonial-card [slot='footer'] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: var(--black-light);
  padding: 0 1rem;
}


/* media queries */ 

@media only screen and (max-width: 500px) {

    #hero p {
        margin: 2rem 2rem;
        font-size: 1.2rem;
    }

    #features .custom-card {
        flex: 0 0 20rem; 
    }

    #mockup {
        padding: 0.5rem 0;
    }
    
    .image-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem 0;
    }
    
    .grid-img {
        width: calc(100vw - 2rem); 
        max-width: 100%; 
        height: 200px; 
        margin: 0 auto; 
    }  

    #cta article {
        margin: 0 2rem;
    }

    #testimonials .testimonial-card {
        flex: 0 0 20rem;
    }

}