@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Outfit:wght@700&display=swap');
@import "reset.css"; 

:root {
  /* custom colors */ 
  --black: #0A0A0A;
  --black-middle: #18181B; 
  --black-light: #1E1E1F; 
  --white: #FFFFFF;
  --primary: #2563EB;
  --secondary: #E5E7EB; 
  --secondary-light: #F3F4F6;
  --info: #5498F7;
  --info-light: #BBD9FB; 
  --error: #f43f5e;
  --success: #22c55e;

  --container-max-width: 1200px; /* largeur max */ 
}

body {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: var(--black);
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 30px;
}

h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

h3 {
  font-weight: 600;
  font-size: 1.4rem;
}

h1, h2, h3, .card-header .card-title  {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

legend {
  display: none;
}

hr {     
  border: none;        
  border-top: 1px solid var(--secondary);
  width: 100%;            
}

.contain {
  margin: 1rem 8rem;
}

.btn::part(base) {
  border: none;
  padding: 0.1rem; 
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  min-width: 160px;
  text-decoration: none;
}

.btn-primary::part(base) {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);  
}

.btn-primary::part(base):hover {
  background-color: var(--info);
}

.btn-white::part(base) {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--secondary);  
}

.btn-white::part(base):hover {
  background-color: var(--secondary);
  color: var(--black-light);
}

sl-button[size="small"]::part(label) {
  font-size: 0.9rem;
  font-weight: 500;
}

.page-bg-header {
  background: var(--secondary-light); 
  padding: 1.5rem 0;
}

.container-page {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.presentation {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}


@media only screen and (max-width: 500px) {
  h1 {
    font-size: 28px;
  }
  .contain {
    margin: 1rem 2rem;
  }
}

/***************************************************/
/* Menu Navbar */

header .login-btn-navbar::part(base) {
  background-color: var(--primary)!important; 
  color: var(--white)!important; 
}

#mobile-menu-btn::part(base) {
  color:  var(--black-light); 
  border: 1px solid var(--secondary);   
}

#mobile-menu .login-btn-navbar::part(base) {
  background-color: var(--primary)!important; 
  color: var(--white)!important; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;  
  border-bottom: 1px solid var(--black-light);
}

.nav-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.04em; 
}

/* #logo-header {
  height: 2rem;
} */

.nav-brand span {
  color: var(--primary); /*  bleu */
}


.navbar-link:hover, .mobile-link:hover {
  --sl-color-neutral-600: var(--primary); 
  --sl-color-neutral-700: var(--primary);
}

.navbar-link::part(base):hover {
  color: var(--primary);
}

.nav-desktop {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-desktop sl-button::part(base),
.nav-mobile sl-button::part(base) {
  color: var(--black);       
  font-size: 1rem;             
  font-weight: 600;
}

.nav-mobile {
  display: none;
  flex-direction: column;
  padding: 1rem 2rem;
  background: white;
  border-bottom: 1px solid var(--black-light);   
  gap: 0.5rem;
}

.nav-mobile.open {
  display: flex;
}

@media (max-width: 768px) {
  .nav-desktop { 
    display: none; 
  }
  .nav-mobile-toggle { 
    display: block; 
  }
  .navbar {
    padding: 1rem 2rem;  
  }
}

@media (min-width: 769px) {
  .nav-mobile-toggle { 
    display: none; 
  }
  .nav-mobile {
    display: none !important;
  }
}

/***************************************************/
/* Footer */
/***************************************************/

footer {
  padding: 3rem 1rem;
  border-top: 1px solid var(--black-light);
  text-align: center;
}

footer .footer-link::part(base) {
  color: var(--primary);
}

footer .footer-link::part(base):hover {
  color: var(--info);
}

sl-breadcrumb::part(base) {
  color: var(--primary);
  text-decoration: none;
}

.footer-copy {
    font-size: 0.95rem;
    color: var(--secondary);
    margin-bottom: 1rem;
}

/******************************/ 
/* Messages */

.messages-container {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%); /* centrer horizontalement */
  z-index: 9999;
  width: 90%; 
  max-width: 500px; 
  display: flex;
  flex-direction: column;
  gap: 12px;
  animation: slideDown 0.4s ease-out;
}

@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 25px;
    opacity: 1;
  }
}

.custom-black-alert::part(base) {
  background-color: var(--black-middle) ;
  border: 1px solid var(--black) ;
  border-radius: 8px;
}

.message-text {
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.icon-success {
  color: var(--success);
}

.icon-error {
  color: var(--error) ;
}

.icon-warning {
  color: #f59e0b;
}

.custom-black-alert::part(close-button__base) {
  color: var(--white);
}


@media (max-width: 768px) {
  .messages-container {
    max-width: 100%; 
  }

  .alert-message::part(base) {
    padding: 0.875rem 1rem;
    font-size: 0.9rem;
  }
  
  .alert-message::part(icon) {
    font-size: 1.25rem;
  }
}