@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');
@import "reset.css"; 

:root {
  /* custom colors */ 
  --black: #0A0A0A;
  --black-middle: #18181B; 
  --black-light: #1E1E1F; 
  --white: #FFFFFF;
  --primary: #2563EB;
  --secondary: #E5E7EB; 
  --secondary-light: #F3F4F6;
  --info: #5498F7;
  --info-light: #BBD9FB; 
}


body {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  color: var(--black);
}

h1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 35px;
}

h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

h3 {
  font-weight: 600;
  font-size: 1.4rem;
}

.contain {
  margin: 1rem 8rem;
}

.btn::part(base) {
  border: none;
  padding: 0.3rem; 
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  min-width: 160px;
}

.btn-primary::part(base) {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary::part(base):hover {
  background-color: var(--info);
}

.btn-white::part(base) {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--secondary);  
}

.btn-white::part(base):hover {
  background-color: var(--secondary);
  color: var(--black-light);
}


/* media queries */ 

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 28px;
  }
  .contain {
    margin: 1rem 2rem;
  }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

#logo-nav {
    font-family: "Poetsen One", sans-serif;
    text-decoration: none; 
    font-weight: bold; 
    font-size: 3rem; 
    color: black;
    margin-left: 3rem;
}

nav {
    margin: 0 2rem;
    display: flex;
    gap: 2rem;
}

/* footer */

footer {
  padding: 2rem 1rem;
  border-top: 1px solid var(--black-light);
  text-align: center;
}

footer .footer-link::part(base) {
  color: var(--primary);
}

footer .footer-link::part(base):hover {
  color: var(--info);
}


/* main {
    height: 75vh;
} */

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

.card-header {
    max-width: 300px;
  }

  .card-header [slot='header'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-header h3 {
    margin: 0;
  }

  .card-header sl-icon-button {
    font-size: var(--sl-font-size-medium);
  }

  /**************************
  warranties list 
  ***************************/
  #warranties_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  #search-warranty-title {
    text-align: center;
    font-size: 25px;
  }

  .searchbar  {
    display: flex;
    gap: .2rem;
  }

  #search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.card-header {
  margin: 0 1rem;
}

.btns-action {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.icon-large {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

sl-card::part(header) {
  background-color: #e6e8e6; 
  height: 6.5rem;
}

.card-header-title {
  display: flex;
  flex-direction: column;
}

.truncate-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;        /* nombre max de lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/**************************
warranties detail
***************************/
#warranty-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%; 
}

.breadcrumb {
  margin: 1rem 3rem;
}

.warranty-detail {
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  max-width: auto;
  margin: auto;
  overflow: hidden;
}

.warranty-header {
  background-color: #f0f0f0;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #ccc;
}

.warranty-header h2 {
  margin: 0;
  font-size: 1.7rem;
}

.warranty-header h3 {
  margin: 0;
  font-weight: normal;
  color: #555;
}

.warranty-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.warranty-text {
  flex: 1;
  min-width: 250px;
}

.warranty-image img {
  max-width: 250px;
  border-radius: 12px;
  object-fit: cover;
}

/**************************
warranties forms
***************************/
.form-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.form-card {
  max-width: 900px;
  width: 100%;
  padding: 2rem;
}

.form-grid {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 2rem;
}


