{% extends 'base.html' %} 
{% load static %}

{% block title %}
  <title>Créer un compte</title>
{% endblock title %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock %}


{% block content %}

  <!-- section sign up -->
  <section id="login">
    <fieldset class="contain"><legend></legend>
      <!-- icon user (col left) -->
      <div class="icon-login">
        <sl-icon name="person-fill"></sl-icon>
      </div>

      <!-- form (col right) -->
      <form action="" method="POST" id="login-form">
      {% csrf_token %}

        <h1 class="title-authentication">Créer un compte</h1> 

        <div class="form-group">
          <!-- email field -->
          <sl-input 
            type="email" 
            name="username" 
            placeholder="Entrez votre Email" 
            size="medium">
            {% comment %} value="{{ form.username.value|default:'' }}"> {% endcomment %}
            <sl-icon name="envelope-fill" slot="prefix"></sl-icon>
          </sl-input>
          <br />

          <!-- password field -->  
          <sl-input 
            type="password" 
            name="password1"
            placeholder="Entrez votre mot de passe" 
            password-toggle 
            size="medium">
            <sl-icon name="lock-fill" slot="prefix"></sl-icon>
          </sl-input>

          <!-- confirm password field -->  
          <sl-input 
            type="password" 
            name="password2"
            placeholder="Confirmez votre mot de passe" 
            password-toggle 
            size="medium">
            <sl-icon name="lock-fill" slot="prefix"></sl-icon>
          </sl-input>
        </div>


        <!-- submit button -->
        <div id="login-btn-submit">
          <sl-button type="submit" class="btn btn-primary" size="medium">Créer un compte</sl-button>
        </div>

      </form>
    </fieldset>
  </section>

  

{% endblock content %}