{% extends "base.html" %} 
{% load static %}

{% block title %}
  <title>Garantix - Accueil</title>
{% endblock title %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}

  <!-- Section Hero Garantix (messages) -->
  <section id="hero-welcome" class="container-fluid container-fluid-bg-secondary-light">
    <div class="container-page">
      <!-- message Welcome/logout -->
      {% include 'partials/_messages.html' %}
      <!-- titre -->
      <div class="hero-content">
        <h1>Bienvenue sur Garantix</h1>
        <p class="hero-presentation">Centralisez vos garanties. Ne perdez plus un seul reçu.</p>
      </div>
    </div>
  </section>

  <!-- Section Bannière/img + boutons connexion/inscription -->
  <section id="section-banniere-home" class="container-fluid container-fluid-bg-banniere">
    <div class="container-page">
      <!-- CTA Buttons login/sign-up-->
      {% if not user.is_authenticated %}
        <div class="cta-buttons">
          <sl-button href="{% url 'accounts:login' %}" class="btn btn-primary" size="medium">Se connecter</sl-button>
          <sl-button href="{% url 'accounts:signup' %}" class="btn btn-white" size="medium">Créer un compte</sl-button>
        </div>
      {% else %}
        <p class="cta-authenticated">
          <img src="{% static 'images/logo.svg' %}" alt="Logo Garantix" class="icon-banniere">
          <span class="text-container">Votre <strong>coffre fort</strong> est prêt ! 
            <span class="break-mobile">Accédez à
            <a href="{% url 'warranty:warranties_list' %}" class="link-warranties">vos garanties</a></span>
          </span>
        </p>
      {% endif %}
    </div>
  </section>

  <!-- Section Features (3 cards) -->
  <section id="features" class="container-fluid">
    <div class="container-page">
      <!-- titre section et presentation -->
      <div class="section-title-h2">
        <h2 class="title-h2">Gérez vos garanties sans effort</h2>
        <p class="presentation-section-title-h2">
          Une solution simple et sécurisée pour centraliser, retrouver et activer vos garanties en un clic
        </p>
      </div>
      <!-- 3 cards features -->
      <div class="card-group">
        {% for feature in features %}
          {% include 'warranty/partials/_card_features_home.html' with feature=feature %}
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Section Mission -->
  <section id="section-mission" class="container-fluid container-fluid-bg-white">
    <div class="container-page">
      <!-- titre section et presentation -->
      <div class="section-title-h2">
        <h2 class="title-h2">Notre mission : simplifier votre quotidien</h2>
        <p class="presentation-section-title-h2">Ne laissez plus une garantie égarée vous coûter de l'argent</p>
      </div>
      <!-- illustration/img et texte de la mission -->
      <div class="mission-grid">
        <!-- illustration de la mission -->
        <div class="mission-illustration">
          <img src="{% static 'images/angry.svg' %}" alt="Illustration frustration de la perte de la garantie">
        </div>
        <!-- texte de la mission -->
        <div class="mission-text-content">
          <p>
            Nous avons créé <strong>Garantix</strong> car nous avons tous déjà vécu cette frustration : 
            un appareil qui tombe en panne et l'impossibilité de retrouver le ticket de caisse !
          </p>
          <p>
            Notre mission est de simplifier la protection de vos achats pour que vous puissiez 
            consommer l'esprit tranquille.
          </p>
        </div>
      </div>  
    </div>
  </section>

  <!-- Section Mockups (ex 3 interfaces) -->
  <section id="section-mockup" class="container-fluid container-fluid-bg-secondary-light">
    <div class="container-page">
      <!-- titre section et presentation -->
      <div class="section-title-h2">
        <h2 class="title-h2">Une interface pensée pour vous</h2>
        <p class="presentation-section-title-h2">
          Gérez vos dossiers, consultez vos garanties et ajoutez facilement de nouveaux produits 
        </p>
      </div>
      <!-- 3 images interfaces -->
      <div class="image-grid">
        {% for mockup in mockups %}
          {% include 'warranty/partials/_img_mockup_home.html' with mockup=mockup counter=forloop.counter %}
        {% endfor %}
      </div>
    </div>
  </section>

   <!-- Section Expertise (2col texte) -->
  <section id="section-expertise" class="container-fluid container-fluid-bg-white">
    <div class="container-page">
      <!-- titre section et presentation -->
      <div class="section-title-h2">
        <h2 class="title-h2">Bien plus qu'un simple stockage</h2>
        <p class="presentation-section-title-h2"> 
          Anticipez la fin de vos garanties et valorisez vos biens à la revente
        </p>
      </div>
      <!-- 2 colonnes expertise texte -->
      <div class="expertise-grid">
        <!--col 1 -->
        <div class="expertise-col">
          <div class="expertise-col-title">
            <sl-icon name="file-earmark-check" class="icon-expertise"></sl-icon>
            <h3 class="title-expertise">Garantie légale</h3>
          </div>
          <p>
            La loi encadre strictement la <strong>garantie légale de conformité</strong>. Pourtant, 
            sans preuve d'achat, faire valoir vos droits devient vite un parcours du combattant.
          </p>
          <p>
            Garantix <strong>centralise vos documents</strong> pour vous éviter de fouiller dans vos tiroirs. Un ticket de 
            caisse thermique s'efface avec le temps; une copie numérique sur notre plateforme, 
            elle, reste <strong>lisible à vie</strong>.
          </p>
        </div>
        <!-- col 2 -->
        <div class="expertise-col">
           <div class="expertise-col-title">
            <sl-icon name="alarm" class="icon-expertise"></sl-icon>
            <h3 class="title-expertise">Valorisation de vos biens</h3>
          </div>
          <p>
            Bien gérer ses garanties, c'est aussi <strong>valoriser son patrimoine</strong>. En cas de revente d'occasion, 
            fournir une <strong>facture originale</strong> et un suivi rigoureux rassure l'acheteur et augmente la valeur 
            de votre produit.
          </p>
          <p>
            Grâce à nos <strong>rappels automatiques</strong> avant expiration, vous décidez sereinement s'il est temps de faire réviser votre appareil 
            ou de souscrire à une extension.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Section Temoignages (3 cards) -->
  <section id="section-testimonials" class="container-fluid container-fluid-bg-secondary-light">
    <div class="container-page">
      <!-- titre section et presentation -->
      <div class="section-title-h2">
        <h2 class="title-h2">Ils nous font confiance</h2>
        <p class="presentation-section-title-h2">
          Ils ont simplifié leur quotidien avec Garantix. Voici ce qu'ils en disent
        </p>
      </div>
      <!-- cards -->
      <div class="card-group">
        {% for testimonial in testimonials %}
          {% include 'warranty/partials/_card_testimonial_home.html' with testimonial=testimonial %}
        {% endfor %}
    </div>  
  </section>

  <!-- Section Call to action -> Sign up -->
  <section id="cta" class="container-fluid container-fluid-bg-white">
    <div class="container-page">
      <!-- logo -->
      <div class="cta-logo">
        <img src="/static/images/logo.svg" alt="Logo Garantix" class="icon-cta">
     </div>
      <!-- titre section et presentation -->
      <div class="section-title-h2">
        <h2 class="title-h2">
          Rejoignez Garantix dès aujourd'hui
        </h2>

        {% if user.is_authenticated %}
          <p class="presentation-section-title-h2"> Accédez à votre coffre fort et commencez à ajouter vos garanties.</p>
          <!-- Warranties list button -->
          <sl-button id="btn-signup-cta" class="btn btn-primary" size="medium" href="{% url 'warranty:warranties_list' %}">
            Mon coffre fort
          </sl-button>
        {% else %}
          <p class="presentation-section-title-h2"> Ne perdez plus vos garanties et facilitez votre suivi.</p>
          <!-- sign up button -->
          <sl-button id="btn-signup-cta" class="btn btn-primary" size="medium" href="{% url 'accounts:signup' %}">
            S'inscrire gratuitement
          </sl-button>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}
