{% extends "base.html" %} 
{% load static %}

{% block title %}
  <title>Garantix - Accueil</title>
{% endblock title %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}

  <!-- section titre -->
  <section class="page-bg-header">
    <div class="container-page">
      <!-- message Welcome/logout -->
      {% include 'partials/_messages.html' %}

      <!-- titre -->
      <section class="title-badge">
          <h1>Bienvenue sur Garantix</h1>
      </section>

      <!-- présentation -->
      <section class="presentation">
          <p>Centralisez vos garanties. Ne perdez plus un seul reçu.</p>
      </section.presentation>

      
    </div>
  </section>

  <section class="bg-banniere">
    <div class="container-page">
      {% if not user.is_authenticated %}
        <div class="cta-buttons">
          <sl-button href="{% url 'accounts:login' %}" class="btn btn-primary" size="medium">
            Se connecter
          </sl-button>
          <sl-button href="{% url 'accounts:signup' %}" class="btn btn-white" size="medium">
            Créer un compte
          </sl-button>
        </div>
      {% else %}
        <p style="color: white; font-weight: 500;">Prêt à gérer vos documents ?</p>
      {% endif %}
    </div>
  </section>

  <!-- section features -->
  <section id="features" class="contain">
    <article>
      <!-- titre et sous-titre -->
      <div class="section-features-header">
        <h2 class="title-home">Pourquoi choisir Garantix ?</h2>
        <p class="subtitle-home">
          Découvrez les fonctionnalités qui font de Garantix votre meilleur allié pour gérer vos garanties.
        </p>
      </div>
      <!-- 3 cards features -->
      <div class="card-group">
        {% for feature in features %}
          {% include 'warranty/partials/_card_features_home.html' with feature=feature %}
        {% endfor %}
      </div>
    </article>
  </section>

  <!-- section mockup  -->
  <section id="mockup" class="contain">
    <div class="section-header">
        <h2 class="title-home">Mockups</h2>
        <p class="subtitle-home">Voici quelques aperçus de l'interface de Garantix.</p>
      </div>
    <div class="image-grid">
      <div class="grid-item">
        <img src="{% static 'images/logo_blue1.png' %}" 
            alt="Dashboard example" class="grid-img"> 
      </div>
      <div class="grid-item">
        <img src="{% static 'images/logo_black1.png' %}" 
            alt="Dashboard example" class="grid-img">
      </div>
      <div class="grid-item">
        <img src="{% static 'images/logo_black2.png' %}" 
            alt="Dashboard example" class="grid-img">
      </div>
    </div>
  </section> 

  <!-- section Call to action -->
  <section id="cta" class="contain">
    <article>
      <h2>Rejoignez Garantix dès aujourd'hui</h2>
      <p>Ne perdez plus vos garanties et facilitez votre suivi.</p>
      <sl-button class="btn btn-white" size="medium">S'inscrire gratuitement</sl-button>
    </article>
  </section>

  <!-- section testimonials -->
  <section id="testimonials" class="contain">
    <div>
      <h2>Témoignages</h2>
      <div class="testimonials-card-group">
        <sl-card class="testimonial-card">
          <blockquote>« Grâce à Garantix, j’ai pu retrouver ma garantie en quelques secondes. »</blockquote>
          <div slot="footer">
            <sl-rating value="4.5" readonly></sl-rating>
            <span>— Marie, cliente</span>
          </div>
        </sl-card>

        <sl-card class="testimonial-card">
          <blockquote>« Les rappels d’expiration sont super pratiques. Je recommande Garantix. »</blockquote>
          <div slot="footer">
            <sl-rating value="5" readonly></sl-rating>
            <span>— Julien, client</span>
          </div>
        </sl-card>

        <sl-card class="testimonial-card">
          <blockquote>« Enfin une solution simple pour centraliser l'ensemble de mes garanties ! »</blockquote>
          <div slot="footer">
            <sl-rating value="4.5" readonly></sl-rating>
            <span>— Sarah, cliente</span>
          </div>
        </sl-card>
      </div>
    </div>
  </section>


{% endblock content %}
