{% extends "base.html" %} 
{% load static %}

{% block title %}
  <title>Garantix - Accueil</title>
{% endblock title %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}

  <!-- section hero (slogan) -->
  <section id="hero">
    <article>
      {% include 'partials/_messages.html' %}

      <h1>Bienvenue sur Garantix</h1>
      
      <p>Centralisez vos garanties. Ne perdez plus un seul reçu.</p>
      {% if user.is_authenticated %}
        <sl-button href="{% url 'accounts:logout' %}" class="btn btn-primary" size="medium">
          Se déconnecter
        </sl-button>
      {% else %}
        <sl-button href="{% url 'accounts:login' %}" class="btn btn-primary" size="medium">
          Se connecter
        </sl-button>
        <sl-button href="{% url 'accounts:signup' %}" class="btn btn-white" size="medium">
          Créer un compte
        </sl-button>
      {% endif %}
    </article>
  </section>

  <!-- section features -->
  <section id="features" class="contain">
    <article>
      <div class="card-group">
        <sl-card class="custom-card">
          <sl-icon name="archive" class="custom-card-icon"></sl-icon>
          <h3>Stockez vos garanties</h3>
          <p>Centralisez tous vos documents et reçus en un seul endroit, accessible partout.</p>
        </sl-card>

        <sl-card class="custom-card">
          <sl-icon name="search" class="custom-card-icon"></sl-icon>
          <h3>Retrouvez facilement</h3>
          <p>Recherchez vos produits et garanties rapidement grâce à notre interface intuitive.</p>
        </sl-card>

        <sl-card class="custom-card">
          <sl-icon name="cloud" class="custom-card-icon"></sl-icon>
          <h3>Accès sécurisé</h3>
          <p>Vos données sont sauvegardées en toute sécurité.</p>
        </sl-card>

         <sl-card class="custom-card">
          <sl-icon name="alarm" class="custom-card-icon"></sl-icon>
          <h3>Alertes avant expiration</h3>
          <p>Recevez des notifications pour ne jamais oublier une garantie importante.</p>
        </sl-card>
      </div>
    </article>
  </section>

  <!-- section mockup  -->
  <section id="mockup" class="contain">
    <div class="image-grid">
      <div class="grid-item">
        <img src="{% static 'images/logo_blue1.png' %}" 
            alt="Dashboard example" class="grid-img"> 
      </div>
      <div class="grid-item">
        <img src="{% static 'images/logo_black1.png' %}" 
            alt="Dashboard example" class="grid-img">
      </div>
      <div class="grid-item">
        <img src="{% static 'images/logo_black2.png' %}" 
            alt="Dashboard example" class="grid-img">
      </div>
    </div>
  </section> 

  <!-- section Call to action -->
  <section id="cta" class="contain">
    <article>
      <h2>Rejoignez Garantix dès aujourd'hui</h2>
      <p>Ne perdez plus vos garanties et facilitez votre suivi.</p>
      <sl-button class="btn btn-white" size="medium">S'inscrire gratuitement</sl-button>
    </article>
  </section>

  <!-- section testimonials -->
  <section id="testimonials" class="contain">
    <div>
      <h2>Témoignages</h2>
      <div class="testimonials-card-group">
        <sl-card class="testimonial-card">
          <blockquote>« Grâce à Garantix, j’ai pu retrouver ma garantie en quelques secondes. »</blockquote>
          <div slot="footer">
            <sl-rating value="4.5" readonly></sl-rating>
            <span>— Marie, cliente</span>
          </div>
        </sl-card>

        <sl-card class="testimonial-card">
          <blockquote>« Les rappels d’expiration sont super pratiques. Je recommande Garantix. »</blockquote>
          <div slot="footer">
            <sl-rating value="5" readonly></sl-rating>
            <span>— Julien, client</span>
          </div>
        </sl-card>

        <sl-card class="testimonial-card">
          <blockquote>« Enfin une solution simple pour centraliser l'ensemble de mes garanties ! »</blockquote>
          <div slot="footer">
            <sl-rating value="4.5" readonly></sl-rating>
            <span>— Sarah, cliente</span>
          </div>
        </sl-card>
      </div>
    </div>
  </section>


{% endblock content %}