{% extends "base.html" %}
{% load static %}  

{% block title %}
    <title>Ma garantie {{ warranty.product_name|capfirst }}</title>
{% endblock %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/details_warranty.css' %}">
{% endblock %}


{% block content %}

<div class="page-details-bg-header">
    <div class="container-details">
        <!-- fil d'Ariane  -->
        <sl-breadcrumb>
            <sl-breadcrumb-item href="/">Accueil</sl-breadcrumb-item>
            <sl-breadcrumb-item href="{% url 'warranty:warranties_list' %}">Liste</sl-breadcrumb-item>
            <sl-breadcrumb-item>{{ warranty.product_name|capfirst }}</sl-breadcrumb-item>
        </sl-breadcrumb>

        <!-- titre  -->
        <section class="title-badge">
            <h1>Ma Garantie {{ warranty.product_name|capfirst }}</h1>

            <sl-badge class="badge-expiration"  variant="{% if warranty.is_active %}success{% else %}danger{% endif %}"  pill>
                <sl-icon name="shield-check" style="margin-right: 4px;"></sl-icon>
                {{ warranty.is_active|yesno:"Active,Expirée" }}
            </sl-badge>
        </section>

        <!-- présentation -->
        <section class="presentation">
            <p>Retrouvez ici les informations détaillées et votre preuve d'achat.</p>
        </section>
    </div>
</div>


<div class="container-details body-content">
    <div class="centered-content-wrapper">
        <div class="warranty-main-layout {% if not warranty.imageReceipt %}no-image-layout{% endif %}">
            
            <div class="specs-column">
                <div class="info-table">
                    <!-- Marque -->
                    <div class="table-row">
                        <div class="label-cell">
                            <sl-icon name="tag"></sl-icon>
                            <label>Marque</label>
                        </div>
                        <div class="value-cell">{{ warranty.brand }}</div>
                    </div>
                    <!-- date d'achat -->
                    <div class="table-row">
                        <div class="label-cell">
                            <sl-icon name="calendar-check"></sl-icon>
                            <label>Date d'achat</label>
                        </div>
                        <div class="value-cell">{{ warranty.purchase_date|date:'j F Y' }}</div>
                    </div>
                    <!-- revendeur -->
                    <div class="table-row">
                        <div class="label-cell">
                            <sl-icon name="shop"></sl-icon>
                            <label>Revendeur</label>
                        </div>
                        <div class="value-cell">{{ warranty.vendor }}</div>
                    </div>
                    <!-- durée -->
                    <div class="table-row">
                        <div class="label-cell">
                            <sl-icon name="hourglass-split"></sl-icon>
                            <label>Durée</label>
                        </div>
                        <div class="value-cell">{{ warranty.warranty_duration_months }} mois</div>
                    </div>
                    <!-- notes -->
                    <div class="table-row notes-row">
                        <div class="label-cell">
                            <sl-icon name="sticky"></sl-icon>
                            <label>Notes</label>
                        </div>
                        <div class="value-cell">{{ warranty.notes|safe|linebreaks|default:"Aucune note" }}</div>
                    </div>

                    <!-- boutons Actions-->
                    <div class="actions-group">
                        <sl-button-group>
                            <sl-tooltip content="Modifier la garantie" placement="top">
                                <sl-button size="small" variant="neutral" outline href="{% url 'warranty:warranty_update' warranty.pk %}">
                                    <sl-icon name="pencil-square" style="color: var(--sl-color-warning-600);"></sl-icon> Modifier
                                </sl-button>
                            </sl-tooltip>
                            <sl-tooltip content="Supprimer la garantie" placement="top">
                                <sl-button size="small" variant="neutral" outline href="{% url 'warranty:warranty_delete' warranty.pk %}">
                                    <sl-icon name="trash3-fill" style="color: var(--sl-color-danger-600);"></sl-icon> Supprimer
                                </sl-button>
                            </sl-tooltip>
                        </sl-button-group>
                    </div>
                </div>
            </div>

            {% if warranty.imageReceipt %}
            <div class="receipt-column">
                <div class="photo-frame">
                    <img src="{{ warranty.imageReceipt.url }}" alt="Ticket de caisse" onclick="window.open(this.src)">
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>


{% endblock %}