{% extends "base.html" %} 


{% block title %}
    <title>{{ warranty.product_name }}</title>
{% endblock %} 


{% block content %}

<!-- Detail warranty section -->
<section id="warranty-section">
  <article class="warranty-detail">
    <header class="warranty-header">
        <h2>{{ warranty.product_name }}</h2>
        <h3>{{ warranty.brand }}</h3>
    </header>

    <div class="warranty-body">
        <div class="warranty-text">
            <p><b>Date d'achat:</b> {{ warranty.purchase_date|date:'j F Y' }}</p>
            <p><b>Durée de garantie:</b> {{ warranty.warranty_duration_months }} mois</p>
            <p><b>Revendeur:</b> {{ warranty.vendor }}</p>
            <p><b>Notes:</b> {{ warranty.notes|safe|linebreaks }}</p>
            <p><b>Enregistré le </b> {{ warranty.created_at|date:'j F Y' }}</p>
            
        </div>
        <!-- Image of receipt -->
        {% if warranty.imageReceipt %}
        <div class="warranty-image">
            <img 
                src="{{ warranty.imageReceipt.url }}" 
                alt="photo du ticket de caisse de {{ warranty.product_name }}" 
                width="200">
        </div>
        {% else %}
            <p></p>
        {% endif %}
        
    </div>
</article>

</section>

{% endblock %}
