{% extends "base.html" %} 
{% load static %}

{% block title %}
  <title>Ajouter une garantie</title>
{% endblock title %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/form_warranty.css' %}">
{% endblock %}


{% block content %}

<div class="page-bg-header">
    <div class="container-page">
        <!-- titre  -->
        <section class="title-badge">
          <h1>Ajouter une garantie</h1>
        </section>

        <!-- présentation -->
        <section class="presentation presentation-create">
            <p>Enregistrez une nouvelle garantie pour ne plus jamais perdre votre preuve d'achat.</p>
        </section>
    </div>
</div>

<!-- form section create -->
<section class="form-container">
  <!-- card -->
  <sl-card class="form-card">
    <!-- form novalidate pour désactiver la validation HTML par défaut -->
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <!-- fieldset => regrouper les champs du formulaire -->
      <fieldset class="form-fieldset">
      <legend class="sr-only">Informations sur le produit</legend>
        <div class="form-grid">
          
          <!-- Colonne de gauche -->
          <div class="form-column">
            <!-- product_name -->
            <div class="field-group">
              <sl-input class="{% if form.product_name.errors %}input-error{% endif %}"
                  type="text"
                  name="product_name" 
                  placeholder="Nom du produit" 
                  pattern="^[a-zA-Z0-9À-ÿ\s\(\)\-\.]+$"
                  title="Lettres, chiffres, parenthèses et tirets uniquement."
                  value="{{ form.product_name.value|default:'' }}" 
                  clearable
                  minlength="2"
                  maxlength="150"
                  required>
              </sl-input>
              {% if form.product_name.errors %}
                <div class="error-text">{{ form.product_name.errors|first }}</div>
              {% endif %}
            </div>

            <!-- purchase_date (achat) -->
            <div class="field-group">
              <sl-input class="{% if form.purchase_date.errors %}input-error{% endif %}"
                  type="date"
                  id="purchase_date_input"
                  name="purchase_date" 
                  placeholder="Date d'achat" 
                  value="{{ form.purchase_date.value|default:'' }}" 
                  required>
              </sl-input>
              {% if form.purchase_date.errors %}
                <div class="error-text">{{ form.purchase_date.errors|first }}</div>
              {% endif %}
            </div>

            <!-- vendor (revendeur) -->
            <div class="field-group">
              <sl-input class="{% if form.vendor.errors %}input-error{% endif %}"
                  type="text"
                  name="vendor" 
                  placeholder="Revendeur" 
                  clearable 
                  minlength="2"
                  maxlength="100"
                  pattern="^[a-zA-Z0-9À-ÿ\s\(\)\-\.]+$"
                  title="Lettres, chiffres, parenthèses et tirets uniquement."
                  value="{{ form.vendor.value|default:'' }}">
              </sl-input>
              {% if form.vendor.errors %}
                <div class="error-text">{{ form.vendor.errors|first }}</div>
              {% endif %}
            </div>
          </div>

          <!-- Colonne de droite -->
          <div class="form-column">
            <!-- brand (marque) -->
            <div class="field-group">
              <sl-input class="{% if form.brand.errors %}input-error{% endif %}"
                  type="text"
                  name="brand" 
                  placeholder="Marque" 
                  pattern="^[a-zA-Z0-9À-ÿ\s\(\)\-\.]+$"
                  title="Lettres, chiffres, parenthèses et tirets uniquement."
                  clearable 
                  minlength="2"
                  maxlength="150"
                  value="{{ form.brand.value|default:'' }}" 
                  oninput="this.value = this.value.toUpperCase()"
                  required>
              </sl-input>
              {% if form.brand.errors %}
                <div class="error-text">{{ form.brand.errors|first }}</div>
              {% endif %}
            </div>
            
            <!-- duration (durée) -->
            <div class="field-group">
              <sl-input class="{% if form.warranty_duration_months.errors %}input-error{% endif %}"
                  type="number" 
                  name="warranty_duration_months" 
                  min="0"
                  max="240"
                  placeholder="Durée de garantie (en mois)" 
                  value="{{ form.warranty_duration_months.value|default:'' }}"
                  required>
              </sl-input>
              {% if form.warranty_duration_months.errors %}
                <div class="error-text">{{ form.warranty_duration_months.errors|first }}</div>
              {% endif %}
            </div>

            <!-- Input pour l'image du reçu -->
            <div class="field-group">
              <input type="file" 
                    name="imageReceipt" 
                    accept="image/png, image/jpeg"
                    class="image-receipt {% if form.imageReceipt.errors %}input-error{% endif %}">
              {% if form.imageReceipt.errors %}
                <div class="error-text">{{ form.imageReceipt.errors|first }}</div>
              {% endif %}
            </div>
          </div>
        </div>
     
        <!-- Notes (pleine largeur) -->
        <div class="field-group">  
          <sl-textarea class="{% if form.notes.errors %}input-error{% endif %}"
              name="notes" 
              title="Lettres, chiffres, parenthèses et tirets uniquement."
              placeholder="Notes sur le produit..." 
              rows="2">
              {{ form.notes.value|default:'' }}</sl-textarea>
          {% if form.notes.errors %}
            <div class="error-text">{{ form.notes.errors|first }}</div>
          {% endif %}
        </div>

        <!-- Boutons -->
        <div class="submit-container" >
          <!-- bouton revenir à la liste -->
          <sl-button href="{% url 'warranty:warranties_list' %}" class="btn btn-white"> Revenir</sl-button>
          <!-- bouton submit -->
          <sl-button type="submit" class="btn btn-primary">Ajouter</sl-button>
        </div>
      </fieldset>
    </form>
  </sl-card>
</section>

<!-- Script pour limiter la date sélectionnable (futur =>aujourd'hui max)-->
<script>
  const today = new Date().toISOString().split('T')[0];
  const dateInput = document.getElementById('purchase_date_input');

  if (dateInput) {
    dateInput.max = today;
  }
</script>

{% endblock %}
