{% extends "base.html" %}
{% load static %}  

{% block title %}
    <title>Ma garantie {{ warranty.product_name|capfirst }}</title>
{% endblock %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/details_warranty.css' %}">
{% endblock %}


{% block content %}

<div class="page-details-bg-header">
    <div class="container-details">
        <!-- titre  -->
        <section class="title-badge">
            <h1>Ma Garantie {{ warranty.product_name|capfirst }}</h1>

            <sl-badge class="badge-expiration {% if warranty.is_active %}is-active{% else %}is-expired{% endif %}" pill>
                <sl-icon name="{% if warranty.is_active %}shield-check{% else %}shield-x{% endif %}" style="margin-right: 4px;"></sl-icon>
                {{ warranty.is_active|yesno:"Active,Expirée" }}
            </sl-badge>
        </section>

        <!-- présentation -->
        <section class="presentation">
            <p>Retrouvez ici les informations détaillées et votre preuve d'achat.</p>
        </section>
    </div>
</div>

<!-- details -->
<div class="container-details body-content">
    <div class="centered-content-wrapper">
        <div class="warranty-main-layout {% if not warranty.imageReceipt %}no-image-layout{% endif %}">
            
            <div class="specs-column">
                <div class="info-table">
                    <!-- Marque -->
                    <div class="table-row">
                        <div class="label-cell">
                            <sl-icon name="tag"></sl-icon>
                            <label class="">Marque</label>
                        </div>
                        <div class="value-cell" id="value-brand">{{ warranty.brand }}</div>
                    </div>
                    <!-- date d'achat -->
                    <div class="table-row">
                        <div class="label-cell">
                            <sl-icon name="calendar3"></sl-icon>
                            <label>Acheté le</label>
                        </div>
                        <div class="value-cell">{{ warranty.purchase_date|date:'j F Y' }}</div>
                    </div>
                    <!-- durée -->
                    <div class="table-row">
                        <div class="label-cell">
                            <sl-icon name="hourglass-split"></sl-icon>
                            <label>Durée</label>
                        </div>
                        <div class="value-cell">{{ warranty.warranty_duration_months }} mois</div>
                    </div>
                    <!-- revendeur -->
                    <div class="table-row">
                        <div class="label-cell">
                            <sl-icon name="shop"></sl-icon>
                            <label>Revendeur</label>
                        </div>
                        <div class="value-cell">{{ warranty.vendor|default_if_none:"-"|upper }}</div>
                    </div>
                    <!-- notes -->
                    <div class="table-row notes-row">
                        <div class="label-cell">
                            <sl-icon name="sticky"></sl-icon>
                            <label>Notes</label>
                        </div>
                        <div class="value-cell notes-truncate">
                            {{ warranty.notes|default:"-" }}
                        </div>
                    </div>

                    <!-- boutons Actions-->
                    <div class="actions-group">
                        <sl-button-group>
                            <sl-tooltip content="Modifier la garantie" placement="top">
                                <sl-button size="small" variant="neutral" outline href="{% url 'warranty:warranty_update' warranty.pk %}">
                                    <sl-icon slot="prefix" name="pencil-square" style="color: var(--sl-color-warning-600);"></sl-icon> Modifier
                                </sl-button>
                            </sl-tooltip>
                            <sl-tooltip content="Supprimer la garantie" placement="top">
                                <sl-button size="small" variant="neutral" outline href="{% url 'warranty:warranty_delete' warranty.pk %}">
                                    <sl-icon slot="prefix" name="trash3-fill" style="color: var(--sl-color-danger-600);"></sl-icon> Supprimer
                                </sl-button>
                            </sl-tooltip>
                        </sl-button-group>
                    </div>
                </div>
            </div>

            <!-- img receipt (if null img by default) -->
            <div class="receipt-column">
                <!-- photo-->
                <div class="photo-frame" onclick="document.getElementById('zoom-modal').show()">
                    <img src="{% if warranty.imageReceipt %}{{ warranty.imageReceipt.url }}{% else %}/static/images/img-ticket-default.jpg{% endif %}" 
                        alt="{% if warranty.imageReceipt %} image du ticket de caisse pour {{ warranty.product_name }}{% else %} image du ticket de caisse par défaut{% endif %}" class="equal-height-img">
                </div>

                <!-- zoom sur photo-->
                <sl-dialog id="zoom-modal" label="Détail du justificatif" style="--width: 40vw;">
                    <img src="{% if warranty.imageReceipt %}{{ warranty.imageReceipt.url }}{% else %}/static/images/img-ticket-default.jpg{% endif %}" 
                        alt="Zoom ticket">
                    <sl-button slot="footer" variant="secondary" onclick="document.getElementById('zoom-modal').hide()">Fermer</sl-button>
                </sl-dialog>
            </div>
        </div>
    </div>
</div>

{% endblock %}