name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.13]

    env:
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      DEBUG: ${{ vars.DEBUG}}
      DJANGO_ENV: ${{ vars.DJANGO_ENV}}
      ALLOWED_HOSTS: ${{ vars.ALLOWED_HOSTS}}
      DB_ENGINE: django.db.backends.postgresql
      DB_NAME: test
      DB_USER: test
      DB_PASSWORD: test
      DB_HOST: localhost
      DB_PORT: 5432

    services:
        postgres:
          image: postgres:16
          env:
            POSTGRES_DB: test
            POSTGRES_USER: test
            POSTGRES_PASSWORD: test
          ports:
            - 5432:5432
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
          
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        cd src
        python manage.py test
